.ControlButton{
    height: 99%;
    width: 99%;
    position: relative;
    background-color: #272727;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.ControlButton.active{
    box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
}

.ControlButton .Icon{
    font-size: 5vw;
    color: #ffffffce;
    filter:drop-shadow(0px 5px 15px rgb(0, 0, 0));
}

.ControlButton:hover{
    cursor: pointer;
    opacity: 0.8;
}

.ControlButton.active .Icon{
    transition: 0.4s;
}

.play.active .Icon:hover{
    cursor: default;
}

.play.active .Icon{
    opacity: 0.5;
    color: rgb(0, 160, 0);
}

.pause.active .Icon{
    color: rgb(226, 147, 0);
}

.stop.active .Icon{
    transition:0.2s;
    color: rgb(236, 10, 10);
}

.metronome.active .Icon{
    color: rgb(21, 76, 255);
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .ControlButton .Icon{
        font-size: 10vw;
    }
}