.Pad{
    display: block;
    background-color: #dfdfdf;
    height: 100%;
    width: 100%;
}

.Pad:hover{
    cursor: pointer;
    /* transition: 0.4s;
    background-color: tomato; */
}

.Pad:hover:active{
    opacity: 0.8;
}