.Pad{
    display: block;
    background-color: #dfdfdff3;
    height: 100%;
    width: 100%;
}

.Pad:hover{
    cursor: pointer;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    opacity: 0.8;
}

.Pad.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pad .Icon{
    font-size: 5vw;
}

.Pad.active .Icon{
    transition:0.4s;
    color:#fefefe;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .Pad .Icon{
        font-size: 9vw;
    }
}