.Board{
    display: grid;
    background-color: #282c34;
    box-shadow: rgba(0, 0, 0, 0.466) 0px 54px 55px, rgba(0, 0, 0, 0.541) 0px -12px 30px, rgb(0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.363) 0px 12px 13px, rgba(0, 0, 0, 0.575) 0px -3px 5px;
    position: relative;
    max-height: 85%;
    max-width: 85%;
    height: 65%;
    width: 80%;
    grid-template-columns: 48% 4% 48%;
    padding: 3%;
}

/* Mobile */
@media only screen and (max-width: 600px){
    .Board{
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 68% 4% 28%;
        padding: 5%;
    }
}