.ControlBoard{
    height: 75%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.ControlBoard .ControlButton{
    display: flex;
    align-items: center;
    justify-content:center;
}