.PadsBoard{
    position: relative;
    height: 100%;
}

.pads-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap: 5%;
}

.pads-grid > .grid-cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.Pad.number0{
    /* color */
}

.Pad.number1{
    /* color */
}

.Pad.number2{
    /* color */
}

.Pad.number3{
    /* color */
}

.Pad.number4{
    /* color */
}

.Pad.number5{
    /* color */
}

.Pad.number6{
    /* color */
}

.Pad.number7{
    /* color */
}

.Pad.number8{
    /* color */
}